.app{
  width: 1000px; height: 900px; margin: 50px auto;
  display: flex; align-items: center; justify-content: center; position: relative; flex-direction: column;
  background: rgba(255, 255, 255, 0.5); border-radius: 30px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.view{
  width: 800px;
  height: 400px;
}

.control{
  width: 770px;
  padding: 15px;
}

.buttons{
  display: flex; width: 400px; justify-content: space-between;
}

.onReset, .onCapture{
  min-width: 180px;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  display: flex; justify-content: center; align-items: center;
  color: white; font-size: 20px; font-weight: 700;
  /* 드래그 방지 */
  user-select: none;
  cursor: pointer;
  transition: 0.4s;
  margin-top: 30px;

}

.onReset{
  background-color: rgb(50, 128, 205);
  box-shadow: 
    0 14px 0 rgb(29, 40, 121),
    0 20px 14px rgba(0,0,0,.2);
}

.onCapture{
  background-color: rgb(177, 50, 205);
  box-shadow: 
    0 14px 0 rgb(121, 29, 95),
    0 20px 14px rgba(0,0,0,.2);
}

.canvasback{
  position: fixed; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.5); z-index: 2;
}

.canvasclose{
  position: absolute; left: 50%; bottom: 50px; border-radius: 5px; padding: 10px; 
  width: 100px; margin-left: -50px; background: #111; color: #fff; letter-spacing: 2px;
  font-weight: 700;
}

canvas{
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 3;
}
